body{
    font-family: 'Raleway', sans-serif;
    background: lightgray;
}

#wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
  }

#startArea{
    text-align: center;
    height:300px;
    width:400px;
    position: absolute;
    border-radius: 25px;
    top:50%;
    left:50%;
    transform: translateX(-50%) translateY(-50%);
    background-color: lightcyan;
    padding:20px;
    border:1px solid black;
    box-shadow: gray

}

.countdowntimerBo{
    text-align: center;
    font-family: 'Poppins', sans-serif;
}

.container{
    display: none;
    height:500px;
    width:1000px;
    position: absolute;
    border-radius: 25px;
    top:50%;
    left:50%;
    transform: translateX(-50%) translateY(-50%);
    background-color: lightcyan;
    padding:20px;
    border:1px solid black;
    box-shadow: gray
   
}

.rContainer{
    height:500px;
    width:450px;
    position: absolute;
    border-radius: 25px;
    top:50%;
    left:50%;
    transform: translateX(-50%) translateY(-50%);
    background-color: tan;
    padding:20px;
    border:1px solid black;
    box-shadow: gray
}

.finalMessage, .correctAnswers, .incorrectAnswers, .unanswered{
    padding-top: 20px;
    text-align: center;
    font-size: 36px;
    text-transform: uppercase;
    color: black;
}

#message, #currentQuestion{
    text-align: center;
}

.title{
    padding-top: 20px;
    text-align: center;
    font-size: 36px;
    text-transform: uppercase;
    color: black;
}

.questionBox{
    padding: 20px;
    font-size: 20px;
    background: lightblue;
    border-radius: 25px;
    margin:10px 0 10px 0;
    color:black;

}

.option{
    width:470px;
    display: inline-block;
    padding: 10px 0 10px 15px;
    background: rgba(255, 255, 255, 0.6);
    vertical-align: middle;
    margin: 10px 0 10px 10px;
    border-radius: 20px;
    color: black;
    font-family: 'Poppins', sans-serif;
}

.option:hover{
    background: whitesmoke;
    color: rebeccapurple;
    }

.next-btn{
    border: none;
    outline: none;
    background: royalblue;
    color: whitesmoke;
    width: 100px;
    height: 40px;
    border-radius: 20px;
    cursor: pointer;
    float: right;
}

.start-btn{
    border: none;
    outline: none;
    background: royalblue;
    color: whitesmoke;
    width: 100px;
    height: 40px;
    border-radius: 20px;
    cursor: pointer;
    float: center;
}

#reStartBtn{
    border: none;
    outline: none;
    background: royalblue;
    color: whitesmoke;
    width: 100px;
    height: 40px;
    border-radius: 20px;
    cursor: pointer;
    float: center;

}

#timer{
    text-align: center;
}

.start-btn:hover{
    background: green;
    color: whitesmoke;
}
    
.next-btn:hover{
    background: green;
    color: whitesmoke;
}

.result{
    height: 150px;
    text-align: center;
    font-size: 70px;

}

.option input:checked .option{
    background: red;
    color: aliceblue;
}

#resultsContainer{
    display: none;
}

#bg {
    position: fixed; 
    top: 0; 
    left: 0; 
    min-width: 100%;
    min-height: 100%;
    z-index: -1;
    opacity: .4;
  }